<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PQ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{177,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{177,172}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>PQ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{177,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{177,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>PQ3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,181},{173,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{173,176}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>PQ4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{177,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>gangqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,356},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>piqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>piqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{172,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,171}}</string>
                <key>sourceSize</key>
                <string>{172,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ball.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec51624a0f604e8ed7b8f0b24f3f6780:d08cfb10551e528f38c59e42c4fbe83b:e57f35bfef2be3d4eb0ba1c46e3d929b$</string>
            <key>textureFileName</key>
            <string>ball.png</string>
        </dict>
    </dict>
</plist>
