<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BF1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,237}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,237}}</string>
                <key>sourceSize</key>
                <string>{113,237}</string>
            </dict>
            <key>BF2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,111},{113,123}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{113,123}}</string>
                <key>sourceSize</key>
                <string>{113,237}</string>
            </dict>
            <key>BF3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{107,135}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,102},{107,135}}</string>
                <key>sourceSize</key>
                <string>{113,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1314a3ee602fa55db2510bde63f4314:77fa9c4ab3159ba590030ccb30a55754:98f2afd2d677f0efd46026afa9a716bc$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
