<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BFH.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,888},{319,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,106}}</string>
                <key>sourceSize</key>
                <string>{319,106}</string>
            </dict>
            <key>BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{696,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,190}}</string>
                <key>sourceSize</key>
                <string>{696,190}</string>
            </dict>
            <key>CXKS.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1104},{318,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,106}}</string>
                <key>sourceSize</key>
                <string>{318,106}</string>
            </dict>
            <key>FH.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1080},{318,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,106}}</string>
                <key>sourceSize</key>
                <string>{318,106}</string>
            </dict>
            <key>FHDT.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,780},{319,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,106}}</string>
                <key>sourceSize</key>
                <string>{319,106}</string>
            </dict>
            <key>GAME OVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{558,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,141}}</string>
                <key>sourceSize</key>
                <string>{558,141}</string>
            </dict>
            <key>HYFX.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1400},{421,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,141}}</string>
                <key>sourceSize</key>
                <string>{421,141}</string>
            </dict>
            <key>JSK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{1006,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,387}}</string>
                <key>sourceSize</key>
                <string>{1006,387}</string>
            </dict>
            <key>JSK2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1006,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,387}}</string>
                <key>sourceSize</key>
                <string>{1006,387}</string>
            </dict>
            <key>JUMP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>KSYX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1261},{424,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,142}}</string>
                <key>sourceSize</key>
                <string>{424,142}</string>
            </dict>
            <key>M.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1104},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>PHB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{427,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,144}}</string>
                <key>sourceSize</key>
                <string>{427,144}</string>
            </dict>
            <key>QD.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,996},{318,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,106}}</string>
                <key>sourceSize</key>
                <string>{318,106}</string>
            </dict>
            <key>QHQIU.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1212},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>TXK.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1212},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>YL.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,972},{106,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{106,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c78fd62cca886a778baa49371141e34:f095ee9cef742ca9ce6450e0463b51dd:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
